[defaults]
inventory = inventory.ini
roles_path = roles
host_key_checking = True
retry_files_enabled = False
stdout_callback = ansible.builtin.default
result_format = yaml
local_tmp = /private/tmp/ansible-local
timeout = 60
forks = 3

[privilege_escalation]
become = True
become_method = sudo
